:root {
    --primary: rgba(104, 11, 64, 0.8)606;
    --bg: #fbedf5;  
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--bg);
    color:azure; 
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: rgba(104, 11, 64, 0.8);
    border-bottom: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar .navbar-logo a {
font-size: 1.5rem;
font-weight: 500;
color: rgb(255, 255, 255);
font-style: italic;
position: relative;
}

.navbar .navbar-logo .a span {
    color: #FFD3DB;
}

/* .navbar .navbar-logo .img-logo img {
    width: 30%;
} */

.navbar .navbar-nav {
    display: flex;
}
.navbar .navbar-nav a {
color:#fff;
display: inline-block;
font-size: 1rem;
margin: 0 1rem;
}
 
.navbar .navbar-nav a:hover {
    color: var(--primary);
}

.navbar .navbar-nav a::after {
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid;
    color: rgb(255, 255, 255);
    transform: scaleX(0);
}

.navbar .navbar-nav a:hover::after {
    transform: scaleX(1);
    transition: 0.2s linear;
}

.navbar .navbar-extra a {
    color: #fff;
    margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
    color: rgb(104, 11, 64);
}

#hamburger-menu {
    display: none;
}


/* Shopping Cart */
.shopping-cart {
    position: absolute;
    top: 100%;
    right: -100%;
    height: 100vh;
    width: 35rem;
    padding: 0 1.5rem;
    background-color: rgba(104, 11, 64, 0.8);
    color: #fbedf5;
    transition: 0.5s;
}

.shopping-cart.active {
    right: 0;
}

.shopping-cart .cart-item {
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px dashed #fbedf5;
    position: relative;
}
.shopping-cart img {
    height: 6rem;
}

.shopping-cart h3 {
    font-size: 1.2rem;
    padding-bottom: 0.5rem;
}

.shopping-cart .item-price {
    font-size: 1rem;
}

.shopping-cart .remove-item {
    position: absolute;
    right: 1rem;
    cursor: pointer;
}

.shopping-cart .remove-item:hover {
    color: rgb(104, 11, 64);
}


/* Navbar Dropdown */
.dropdown a{
    padding: 0;
}

.dropdown ul{
    list-style-type: none;
}

li.dropdown {
    display: inline-block;
}

.dropdown:hover .isi-dropdown {
    display: block;
}

.isi-dropdown a:hover {
    color: black !important;
}

.isi-dropdown {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: left;
    z-index: 1;
    background: rgba(104, 11, 64, 0.8);
    border-radius: 8px;
}

.isi-dropdown a {
    color: rgb(255, 255, 255) !important;
    border-radius: 8px;
}

.isi-dropdown a:hover {
    color: rgb(255, 255, 255);
    
}


/* Hero Section*/
.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url('img/headerweb.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 30%;
    bottom: 0;
}

.hero .content {
    padding: 1.4rem 7%;
    max-width: 60rem;
}

.hero .content h1 {
    font-size: 2rem;
    color: rgb(34, 33, 34);
    line-height: 1.2;
}

.hero .content p {
   font-size: 1.2rem;
   color: rgb(34, 33, 34); 
   margin-top: 1rem;
   line-height: 1.4;
   font-weight: 100;
}

.hero .content .cta {
    margin-top: 2rem;
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #fbedf5;
    background-color: rgba(104, 11, 64, 0.8);
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px rgb(104, 11, 64)606;
}

.hero .content .cta:hover {
    background-color: rgb(64, 6, 39);
    transition: all 0.3s ease;
}


/* About Section */
.about {
    padding: 6rem 7% 1.4rem;
    color: black;
}

.about h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 3rem;
    color: black;
}

.about h2::after {
    content: "";
    height: 4px;
    width: 90px;
    background-color: rgba(104, 11, 64, 0.8);
    display: block;
    margin: auto;
}

.about .row {
    display: flex;
    flex-direction: row;
}

.about .row .about-img {
    flex: 1 1 45rem;
}

.about .row .about-img img{
    width: 100%;
}

.about .row .content {
    flex: 1 1 60rem;
    padding: 0 1rem;
}

.about .row .content h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.about .row .content p {
    margin-bottom: 0.8rem;
    font-size: 1.1rem;
    text-align: justify;
    font-weight: 100;
    line-height: 1.6;
}

.button-about {
    margin-top: 2rem;
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #fbedf5;
    background-color: rgba(104, 11, 64, 0.8);
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px rgb(104, 11, 64)606;
}

.button-about:hover {
    background-color: rgb(64, 6, 39);
    transition: all 0.3s ease;
}


/* Sejarah */
.sejarah {
    padding: 50px 0 auto;
}

.sejarah h2 {
    padding: 6rem 9% 1.4rem;
    margin-bottom: 25px;
    text-align: center;
    color: black;
    font-size: 2.5rem;
}

.sejarah h2::after {
    content: "";
    height: 4px;
    width: 90px;
    background-color: rgba(104, 11, 64, 0.8);
    display: block;
    margin: auto;
}

.sejarah h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.sejarah .box-sejarah {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    row-gap: 50px;
}

.sejarah .box-sejarah .box {
    text-align: center;
    color: black;
    transition: all 0.3s ease;
}

.sejarah .box-sejarah .box:hover {
    transform: translateY(-20px);
}

.sejarah .box-sejarah .box img {
    width: 90%;
    margin-bottom: 10px;
    border-radius: 8px;
}

.sejarah .box-sejarah .box p {
    font-weight: 100;
    font-size: 14px;
    margin-bottom: 20px;
}


/* VisiMisi */
.section {
    padding: 6rem 7% 1.4rem;
    color: black;
}

.title h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 3rem;
    color: black;
}

.title h2::after {
    content: "";
    height: 4px;
    width: 90px;
    background-color: rgba(104, 11, 64, 0.8);
    display: block;
    margin: auto;
}

.box-visimisi {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 75px auto;
    text-align: center;
}

.card-visimisi {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 0px 20px;
    padding: 20px 20px;
    background-color: rgba(104, 11, 64, 0.8);
    border-radius: 28px;
    cursor: pointer;
}

.card-visimisi .feather-icons {
    font-size: 35px;
    margin-bottom: 10px;
    color: #fbedf5;
}

.card-visimisi h3 {
    font-size: 20px;
    color: #fbedf5;
    margin-bottom: 20px;
}

.card-visimisi p {
    font-size: 15px;
    margin-bottom: 30px;
    line-height: 1.5;
    color: #fbedf5;
}


/* Perusahaan */
.perusahaan {
    padding: 6rem 7% 1.4rem;
    color: black;
}

.perusahaan h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 3rem;
    color: black;
}

.perusahaan h2::after {
    content: "";
    height: 4px;
    width: 90px;
    background-color: rgba(104, 11, 64, 0.8);
    display: block;
    margin: auto;
}

.perusahaan .row {
    display: flex;
}

.perusahaan .row .perusahaan-img {
    flex: 1 1 45rem;
}

.perusahaan .row .perusahaan-img img{
    width: 100%;
}

.perusahaan .row .content {
    flex: 1 1 60rem;
    padding: 0 1rem;
}

.perusahaan .row .content h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.perusahaan .row .content p {
    margin-bottom: 0.8rem;
    font-size: 1.1rem;
    text-align: justify;
    font-weight: 100;
    line-height: 1.6;
}

.cta-perusahaan {
    margin-top: 2rem;
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #fbedf5;
    background-color: rgba(104, 11, 64, 0.8);
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px rgb(104, 11, 64)606;
}

.cta-perusahaan:hover {
    background-color: rgb(64, 6, 39);
    transition: all 0.3s ease;
}


/* Product */
.product {
    padding: 6rem 7% 1.4rem;
}

.product h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 3rem;
    color: black;
}

.product h2::after {
    content: "";
    height: 4px;
    width: 90px;
    background-color: rgba(104, 11, 64, 0.8);
    display: block;
    margin: auto;
}

.product .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
    gap: 3rem;
}

.product .box-container .box {
    text-align: center;
    background: #fbedf5;
    border: 0.1rem solid rgb(104, 11, 64);
    box-shadow: 0 0.5rem 1rem rgb(255, 255, 255);
}

.product .box-container .box:hover .img img {
    transform: scale(1.1);
}

.product .box-container .box .img {
    position: relative;
    overflow: hidden;
    padding-top: 2rem;
}

.product .box-container .box .img img {
    height: 20rem;
}

.product .box-container .box .content {
    padding: 1.5rem;
    padding-bottom: 0.1rem;
    padding-top: 2rem;
}

.product .box-container .box .content h3 {
    font-size: 1rem;
    color: rgb(0, 0, 0);
    padding-bottom: 0.5rem;
    font-weight: normal;
    text-align: center;
}

.product .box-container .box .content .price {
    font-size: 1rem;
    font-weight: bolder;
    color: rgba(104, 11, 64, 0.8);
    text-align: center;
}

.product .feather-icons {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.product .feather-icons a {
    color: rgb(64, 6, 39);
    margin: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product .feather-icons a:hover {
    color: rgb(255, 59, 180);
}


/* Blog */
.ourblog {
    padding: 50px 0 0 0;
}

.ourblog h2 {
    padding: 3rem 7% 1.4rem;
    text-align: center;
    color: black;
    font-size: 2.5rem;
}

.ourblog h2::after {
    content: "";
    height: 4px;
    width: 90px;
    background-color: rgba(104, 11, 64, 0.8);
    display: block;
    margin: auto;
}

.ourblog h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.ourblog .box-blog {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    row-gap: 50px;
}

.ourblog .box-blog .box {
    text-align: center;
    color: black;
    transition: all 0.3s ease;
}

.ourblog .box-blog .box:hover {
    transform: translateY(-10px);
}

.ourblog .box-blog .box img {
    width: 80%;
    margin-bottom: 10px;
    border-radius: 5px;
}

.ourblog .box-blog .box p {
    font-weight: 80;
    margin-bottom: 20px;
}

.ourblog .box-blog .box button a{
    width: 120px;
    height: 40px;
    border: none;
    background-color: rgb(104, 11, 64, 0.8);
    color: #fbedf5;
    border-radius: 0.5rem;
    padding: 12px 30px;
    font-weight: 100;
}

.ourblog .box-blog .box button:hover a{
    background-color: rgb(64, 6, 39);
    transition: all 0.3s ease;
}


/* Contact */
.container-contact {
    padding: 35px 0 80px 0;
}

.title-contact h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 3rem;
    color: black;
}

.title-contact h2::after {
    content: "";
    height: 4px;
    width: 90px;
    background-color: rgba(104, 11, 64, 0.8);
    display: block;
    margin: auto;
}

.box-contact {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto;
    text-align: center;
}

.card-ct {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 0px 30px;
    padding: 10px 10px;
    background-color: rgb(104, 11, 64);
    border-radius: 100px;
}

.card-ct .feather-icons {
    font-size: 35px;
    margin-bottom: auto;
    color: #fbedf5;
}

.card-ct .feather-icons a{
    color: #fbedf5;
}

.card-ct .feather-icons a:hover{
    color: #000000;
}

.card-ct p {
    font-size: 18px;
    margin-bottom: 18px;
    line-height: 1.5;
    color: #fbedf5;
}


/* Footer */
.footer{
    background-color: rgba(104, 11, 64, 0.8);
    text-align: center;
    padding: 1.5rem 0;
    padding-top: 3rem;
}

.footer .social{
    margin: 0.5rem;
    margin-bottom: 1rem;
}

.footer .social a{

    color: #ffffff;
    margin: 1.5rem ;
    margin-bottom: 1rem;
}

.footer .social a:hover,
.footer .links a:hover{
    color: rgb(104, 11, 64);
}

.footer .links {
    margin-bottom: 1.3rem;
    font-weight: bold;
}

.footer .links a{
    color: #fff;
    padding: 0.7rem 1rem;
    font-size: 1rem;
}

.footer .credit{
    font-size: 0.9rem;
    color: #000000;
}

.footer .credit a{
    color: #010101;
    font-weight: 600;
}


/* Media Queries */
/* Laptop */
@media (max-width: 1366px) {
    html {
        font-size: 75%;
    }

/* Tablet */
@media (max-width: 750px) {
    html {
        font-size: 60%;
    }
}

#hamburger-menu {
    display: inline-block;
}

.navbar .navbar-nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: rgba(104, 11, 64, 0.8);
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
}

.navbar .navbar-nav.active {
    right: 0;
}

.navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
}

.navbar .navbar-nav a::after {
    transform-origin: 0 0;
}

.navbar .navbar-nav a:hover::after {
    transform:scaleX(0.2);
}}

/* HP */
@media (max-width: 450px) {
    html {
        font-size: 55%;
    }
}


/* Registration */
.regis {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: url("img/innisfreevisi.png") no-repeat;
    background-position: center;
    background-size: cover;
}

.form-box {
    position: relative;
    width: 400px;
    height: 450px;
    background: rgb(104, 11, 64);
    border: none;
    border-radius: 20px;
    backdrop-filter: blur(15px) brightness(80%);
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 2em;
    color: #fff;
    text-align: center;
}

.inputbox {
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
}

.inputbox label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: 0.5s;
}

/* Animations: start */
input:focus~label,
input:valid~label {
    top: -5px;
}

/* Animation:end */
.inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: #fff;
}

.inputbox ion-icon {
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 20px;
}

.forget {
    margin: -10px 0 17px;
    font-size: 0.9em;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.forget label input {
    margin-right: 3px;
}

.forget a {
    color: #fff;
    text-decoration: none;
}

.forget a:hover {
    text-decoration: underline;
}

button {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background-color:#fbedf5;  
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}

.register {
    font-size: 0.9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}

.register p a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.register p a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 480px) {
    .form-box {
        width: 100%;
        border-radius: 0px;
    }
}